header {
    background-color: var(--bk-Principal);
    color: var(--color-Enlaces);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

    header p {
        font-size: var(--FontSize-TituloSegundo);
    }

    header div {
        display: flex;
        gap: 20px;
    }

        header div a {
            color: var(--color-Enlaces);
        }


@media screen and (max-width: 850px) {

    header {
        flex-direction: column;
        height: 100%;
        padding: 10px;
    }

    header div {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
}