section {
    /* border: 10px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.buscar {
    /* border: 10px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 31px 0 20px;
    gap: 10px;
}

    .buscar input {
        padding: 5px;
    }

    .btn1 {
        display: flex;
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: var(--bk-btn);
        color: var(--color-Enlaces);
        justify-content: center;
    }

.vacio {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}